 <div class = "row row-sm">

<div class = "col-sm-5 center-block" style = "float:none;">
  <div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
      <div class="row row-sm">
      <div class = "col-xs-5 col-sm-5 col-md-3 col-lg-5 center-block" style="float:none">
        <img src="img/broadspire_logo.png" class="w-full r-t"  />
      </div></div>
    <!--  <div class="navbar-brand m-t-lg text-center">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
                width: 24px; height: 24px;">
          <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
          <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
          <path d="M 8 80 L 50 0 L 50 100 Z" fill="#fff"></path>
          <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(255, 255, 255, 0.6)"></path>
        </svg>
        <span class="m-l inline loginheading1">Welcome To Broadspire</span>
      </div>-->
    </div>

    <div class="p-lg panel md-whiteframe-z2 text-color m">
      <div class="m-b text-md" style = "text-align:center;">
      <!--  Sign in with your {{app.name}} Account -->
        Welcome To Broadspire MyClaim<span style = "font-size:8px;position:relative;top:-6px;">SM</span>
        <div class="m-c text-md" style="color: #646569;">
          <!--  Sign in with your {{app.name}} Account -->
          an iQ Mobile App
        </div>
      </div>

      <form name="form" style="color: #646569;">
        <!--<div class="md-form-group float-label">
          <input type="email" class="md-input" ng-model="user.email" required>
          <label>Email</label>
        </div>-->
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" value = {{user}} ng-model = "user" type="text" />
        </div>
        <!--<div class="md-form-group float-label">
          <input type="password" class="md-input" ng-model="user.password" required>
          <label>Password</label>
        </div> -->
        <div class="form-group" style = "margin-bottom:25px">
          <label>Password</label>
          <input class="form-control" value={{pass}} ng-model = "pass" type="password" />
        </div>
<!-- ui-sref="ui.material.card" -->
        <button md-ink-ripple type="submit" ng-click = "loginUser(user,pass)"  class="md-btn md-raised btn-block p-h-md" style = "background-color: #007934;color: #ffffff;">Login</button>
        <div class="m-b-md" style = "margin-top: 5%;font-weight: normal;color: #007934;">
          <label class="md-check" style= "float:left;text-decoration: underline;">
           New User
          </label>
          <label class="md-check" style= "float:right;text-decoration: underline;">
            Forgot Password
          </label>

        </div>
        <div class="m-b-md" style = "margin-top: 10%;font-weight: normal;color: #007934;">
          <label class="md-check" style= "float:left;text-decoration: underline;">
            Registration Tutorial
          </label>
        </div>
      </form>
    </div>

   <!-- <div class="p-v-lg text-center">
      <div class="m-b"><button ui-sref="access.forgot-password" class="md-btn">Forgot password?</button></div>
      <div>Do not have an account? <button ui-sref="access.signup" class="md-btn">Create an account</button></div>
    </div>-->
  </div>
</div>
 </div>